
<div class="container">
    <div class="p-5 text-center bg-image" style="background-image: url('../assets/helo.jpg'); height: 380px;">
   <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
     <div class="d-flex justify-content-center">
       <div class="text-white">
         <h1 class="mb-3">Contact</h1>
         <h2 class="mb-3"> -Getting In Touch-</h2>
         <a class="btn btn-outline-light btn-lg" role="button">ELIJAH'S FLATSPOT SHOP</a>
       </div>
     </div>
   </div>
   </div>  <hr>
  </div>


  <div class="contact">
      <h1>Getting in Touch</h1>
      <p>We have been running shops for the last twenty years. We’re good guys and we’re totally happy to help, so get in touch.</p>
      <p>If you want to email us about an existing order:</p>
      <h5>abc@flatshop.com </h5>
      <p><i>- It helps us if you have your order number as a reference.</i></p>
      <p>You can phone us on:</p>
      <h5>+639 0000 0000 <br> International: 0044 (0) 800 862 0192</h5>
      <p>All correspondence and returns to;</p>
        <h5>Flatspot Store<br>
        Area 51 Jupiter Place, <br>
        Central Galaxy, <br>
        Elijah Lo-ot Industrial Estate <br>
        EL21 FR</h5>
        
        
  </div>