

<nav>
<button type="button" (click)="toogle()"> Background</button>
</nav>

<div [@openClose]="isOpen ? 'open' : 'close' " class="open-close-container"> 
<p>Background color is {{isOpen ? 'Open' : 'Closed' }}!</p>

</div>


<section class="bgimage" id="home">
    <p style="background-image: url('assets/helo.jpg');"></p>
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
            <img src="assets/jajaja.png" alt="">
            <h2 class="hero_title">Hi, it's me Elijah</h2>
            <h4 class="hero_desc">I am a Web Developer and Designer</h4>
        </div>
        </div>
    </div>
</section>