/* css Elijah lo-ot */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@300&display=swap');
.green {
    color: green;
}
.blue{
    color: blue;
}

body{
    
    border-top: 60px;
    border-bottom: 85px;
    border-left: 300px;
    border-right: 300px;
    border-style: solid ;
    border-color: #710e1d;
    background-color: #cc9837;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 25px;
}
