<div class="container">
    <div class="p-5 text-center bg-image" style="background-image: url('../assets/para.jpg'); height: 450px;">
   <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
     <div class="d-flex justify-content-center">
       <div class="text-white">
         <h1 class="mb-3">ELIJAH'S FLATSPOT SHOP</h1>
         <h2 class="mb-3"> Best-selling high street fashion wear</h2>
         <a class="btn btn-outline-light btn-lg" href="../join" role="button">THRIFT SHOP</a>
       </div>
     </div>
   </div>
   </div>
  </div>


<div class="container">
    <hr>
    <h1>Explore our huge range of
        quality second-hand fashion.</h1>
    <hr>
        
</div>     

     <div class="valign-wrapper">
        <div class="container">
          <div class="row">
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <img src="/assets/tshirt.jpg" class="responsive-img">
                </div>
                <div class="card-content">
                    <hr><h5 class="card-title">{{t}}</h5>
                    <p>Seen here in white, the City Stack T-Shirt from Stussy is made from 
                        soft and lightweight cotton and has been designed for casual everyday wear.</p>
                </div>
                <div class="card-action">
                    
                </div>
              </div>
            </div>

            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <img src="/assets/shoes.jpg" class="responsive-img">
                </div>
                <div class="card-content">
                    <hr><h5 class="card-title">{{s}}</h5>
                    <p>Nike SB Blazer Mid Shoes in Black and White. A bold monochrome edition of the Nike SB
                         Blazer Mid Shoes for the new season, this variation has a striking look with all black 
                         uppers that match the outsole and contrast to a crisp white Swoosh tick emblem on either side of the foot.</p>
                </div>
                <div class="card-action">
                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <img src="/assets/handbag.jpg" class="responsive-img">
                </div>
                <div class="card-content">
                    <hr><h5 class="card-title">{{h}}</h5>
                    <p>Kavu Little Feller Bag in Mountain Ranch. A generously sized 22L travel essential crafted from 600D 
                        polyester with a water resistant finish, this new season Kavu bag is a two-in-one backpack duffel
                         design that’s ideal for weekend and everyday use.</p>
                    
                </div>
                <div class="card-action">

                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <img src="/assets/pants.jpg" class="responsive-img">
                  
                </div>
                <div class="card-content">
                    <hr><h5 class="card-title">{{p}}</h5>
                    <p>Hélas Camper Pants in Beige. Inspired by classic outdoor aesthetics with a noted utilitarian undertone,
                         these straight legged Hélas pants are tailored to a relaxed fitting from a premium blend of 97% cotton and 3% elastane.</p>
                </div>
                <div class="card-action">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- parttwo -->
      <div class="valign-wrapper">
        <div class="container">
          <div class="row">
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <img src="/assets/hoodies.jpg" class="responsive-img">
                </div>
                <div class="card-content">
                    <hr><h5 class="card-title">{{Hoo}}</h5>
                  <p>Yardsale Phase Hoodie in White. Arriving as part of the brand’s latest W21 collection and tailored to a relaxed fitting for increased
                       everyday comfort, this inside-out inspired Yardsale hoodie is styled with a brushed 
                       French terry exterior for a soft and casual everyday wear.</p>
                </div>
               
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <img src="/assets/jacket.jpg" class="responsive-img">
                </div>
                <div class="card-content">
                    <hr><h5 class="card-title">{{j}}</h5>
                  <p>Patagonia Nano Puff Jacket in Metric Orange. Designed to be stored within its own stuffsack when not being worn, this Fair Trade Certified 
                      Patagonia jacket is crafted from 100% recycled polyester ripstop and features a DWR coated shell and P.U.R.E.™ technology 60g PrimaLoft® Gold insulation.</p>
                </div>
              </div>
            </div>
          
           
          </div>
        </div>
      </div>