
<body>
<h2>Contact Me</h2>
<br><br>
<div class="row mb-5">
<div class="col-md-3">
<div class="dbox w-100 text-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="fa fa-map-marker"></span>
</div>
<div class="text">
<p><span>Address:</span> Mabalacat City, Pampanga</p>
</div>
</div>
</div>
<div class="col-md-3">
<div class="dbox w-100 text-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="fa fa-phone"></span>
</div>
<div class="text">
<p><span>CellPhone:</span> <a href="tel://1234567920">+63919 9243 440</a></p>
</div>
</div>
</div>
<div class="col-md-3">
<div class="dbox w-100 text-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="fa fa-paper-plane"></span>
</div>
<div class="text">
<p><span>Email:</span> <a href="elijahchristianloot@gmail.com">elijahchristianloot@gmail.com</a></p>
</div>
</div>
</div>
<div class="col-md-3">
<div class="dbox w-100 text-center">
<div class="icon d-flex align-items-center justify-content-center">
<span class="fa fa-globe"></span>
</div>
<div class="text">
<p><span>Cellphone</span> <a href="#">+63919 9243 440</a></p>
</div>
</div>
</div>
</div>    
</body><br><br>
