<!-- <p>portfolio works!</p> -->


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    
    <html>
    <h2>PORTFOLIO</h2>
    <h3>Check Out Some of My Works</h3><br>
    <p>This is some of my previous works throughtout my college years.</p><br><br>

<body>
    <div class="zoom">
        <div class="card ">
            <img src="assets/run.JPG" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>RUN17s STREETWEAR</b></h4> 
                <p>Web Design | Tshirts</p>
                <a href="https://run17wear.com/pages/store.html#T" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>


    <div class="zoom">
        <div class="card">
                <img src="assets/run.JPG" alt="Avatar" style="width:100%">
                    <div class="container">
                    <h4><b>RUN17s STREETWEAR</b></h4> 
                    <p>Web Design | Tshirts</p>
                    <a href="https://run17wear.com/pages/store.html#T" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>


  <div class="zoom">
        <div class="card">
            <img src="assets/run.JPG" alt="Avatar" style="width:100%">
            <div class="container">
            <h4><b>RUN17s STREETWEAR</b></h4> 
            <p>Web Design | Tshirts</p>
            <a href="https://run17wear.com/pages/store.html#L" class="btn btn-primary">Go somewhere</a>
             </div>
        </div>
    </div>

</body>