   
    <div class="container">
        <hr>
        <h1>Join our Research Conferences around the Globe!</h1>
        <hr>
        
        <div class="row">  
            <div class="card" style="width: 16rem;">
            <img class="card-img-top img" src="/assets/france.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{f}}</h5>
              <p class="card-text">The largest country in Western Europe, has long been a gateway between the continent's 
                northern and southern regions.
              </p>
              <hr>
              <p>Architecture and Fine Arts</p>
              <hr>
              <p>Cultural Events</p>
              <hr>
              <p>Safety and Security</p>
              <hr>
              <a href="../home" class="btn">Learn more</a>
            </div>
          </div>
        
          <div class="card" style="width: 16rem;">
            <img class="card-img-top img" src="/assets/korea.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{k}}</h5>
              <p class="card-text">Seoul, Korean Sŏul, formally Sŏul-t'ŭkpyŏlsi (“Special City of Seoul”), city and capital of 
                  South Korea (the Republic of Korea).
              </p>
              <hr>
              <p>Humanities and Arts</p>
              <hr>
              <p>Cultural Events</p>
              <hr>
              <p>Safety and Security</p>
              <hr>
              <a href="../home" class="btn">Learn more</a>
            </div>
          </div>
        
          <div class="card" style="width: 16rem;">
            <img class="card-img-top img" src="/assets/sanf.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{sf}}</h5>
              <p class="card-text">It is a cultural and financial centre of the western United States and one of the country's
                  most cosmopolitan cities.
              </p>
              <hr>
              <p>Science and Technology</p>
              <hr>
              <p>Cultural Events</p>
              <hr>
              <p>Safety and Security</p>
              <hr>
              <a href="../home" class="btn">Learn more</a>
            </div>
          </div>
        
          <div class="card" style="width: 16rem;">
            <img class="card-img-top img" src="/assets/boston.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{b}}</h5>
              <p class="card-text">Best know for its famous baked beans, Fenway Park, The Boston Marathon, and of course
                  for the bar from Cheers.
              </p>
              <hr>
              <p>Engineering and Tech</p>
              <hr>
              <p>Cultural Events</p>
              <hr>
              <p>Safety and Security</p>
              <hr>
              <a href="../home" class="btn">Learn more</a>
            </div>
          </div>
        </div>
<app-partners></app-partners>
<app-join></app-join>
      

