
 <br><br><br>   
<body class="body">
<h2>ABOUT</h2>
<br>
<div class="container mt-5">
<div class="row">
<div class="col-sm-4">
<h3>Name</h3>
<p>Elijah Christian Andaya Lo-ot</p>

</div>
<div class="col-sm-4">
<h3>Age</h3>
<p>21 years old</p>

</div>
<div class="col-sm-4">
<h3>Birthday</h3>
<p>January 21, 2000</p>

</div>
<div class="col-sm-4">
<h3>Gender</h3>
<p>Male</p>

</div>
<div class="col-sm-4">
<h3>Address</h3>        
<p>Mabalacat City, Pampanga</p>

</div>
<div class="col-sm-4">
<h3>Status</h3>
<p>Single</p>

</div>
</div>
</div>
</body>


  
    

   
